In [1]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in c:\users\usuario\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\usuario\anaconda3\lib\site-packages (0.20.9)
Requirement already satisfied: Levenshtein==0.20.9 in c:\users\usuario\anaconda3\lib\site-packages (from python-Levenshtein) (0.20.9)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in c:\users\usuario\anaconda3\lib\site-packages (from Levenshtein==0.20.9->python-Levenshtein) (2.13.7)

In [2]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [3]:
places = pd.read_csv('locales_202012.csv')
places.drop('Unnamed: 0', axis=1, inplace=True)
terrazas = pd.read_csv('terrazas_limpias.csv')
terrazas.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
places.drop_duplicates(subset='id_local', inplace=True)

In [5]:
places['rotulo']

0                                            HOTEL MEDIODIA
5                                       LA ESQUINA DE SANTI
6                                            LA DESCUBIERTA
7                                              LA REVOLTOSA
8                                             BARRIGA LLENA
                                ...
128915                                   LA CAJA DE SOCORRO
128917                 AHORRAMÁS MERCAMADRID [C1A][EJE 2/7]
128918    SOCIEDAD ESTATAL DE MERCADOS CENTRALES DE ABAS...
128919            EL ENCINAR DE HUMIENTA [P. BAJA] [J1][A]
128920                                ASEPEYO [J4] [ZONA B]
Name: rotulo, Length: 69694, dtype: object

In [6]:
values_to_drop = ['RÓTULO NO INFORMADO', 'ROTULO NO INFORMADO', 'FARMACIA', 'SR', 'ALIMENTACION','SIN ACTIVIDAD','PELUQUERIA',
                 'CAJA MADRID','SIN ROTULO','MUESTRA','LOCUTORIO','ALIMENTACION FRUTOS SECOS','ALIMENTACIÓN']

In [7]:
places = places[~places['rotulo'].isin(values_to_drop)]

In [8]:
places = places.merge(terrazas['Cod_Postal'], how='left', left_on=places['desc_barrio_local'], right_on=terrazas['desc_barrio_local'])

In [9]:
places.drop_duplicates(subset='id_local', inplace=True)

In [10]:
places.reset_index(drop=True, inplace=True)

In [11]:
places.dropna(how='any', inplace=True)

In [12]:
places['Cod_Postal'] = places['Cod_Postal'].astype(int)

In [13]:
places.reset_index(drop=True, inplace=True)

In [14]:
places_df = places[['rotulo','Cod_Postal']]
terraces_df = terrazas[['rotulo','Cod_Postal']]

In [15]:
list_df= [places_df, terraces_df]

In [16]:
all_places = pd.concat(list_df)

In [17]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [18]:
all_places['rotulo'] = all_places['rotulo'].apply(normalize)

In [19]:
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    # Remove punctuation from the text
    text = text.translate(str.maketrans("", "", string.punctuation))
    return text

In [20]:
import string
all_places['rotulo'] = all_places['rotulo'].apply(clean_text)

In [21]:
all_places['rotulo'] = all_places['rotulo'].str.strip()

In [22]:
import re
def remove_duplicates(text):
    regex = r"\b(\w+)\b\s+\b\1\b"
    replacement = r"\1"
    return re.sub(regex, replacement, text)

In [23]:
all_places['name'] = all_places['rotulo'].apply(lambda x: remove_duplicates(x))

In [24]:
all_places['name']

0            hotel mediodia
1       la esquina de santi
2            la descubierta
3              la revoltosa
4             barriga llena
               ...
6111            bar central
6112                lor ana
6113       bar el acueducto
6114            estacion 55
6115        pizzeria napoli
Name: name, Length: 67887, dtype: object

In [25]:
# group dataframes by zip code and create a list of places for each zip code
places_grouped = all_places.groupby('Cod_Postal')['name'].apply(list).reset_index(name='places')

In [26]:
addresses = pd.read_csv('addresses.csv')
addresses.drop('Unnamed: 0', axis=1, inplace=True)

In [27]:
addresses['result.name'] = addresses['result.name'].apply(normalize)
addresses['result.name'] = addresses['result.name'].apply(clean_text)
addresses['result.name'] = addresses['result.name'].apply(lambda x: remove_duplicates(x))
addresses['result.name'] = addresses['result.name'].str.strip()

In [28]:
addresses

,result.formatted_address,result.formatted_phone_number,result.name,result.place_id,zip_code
0,"C. San Juan de Ortega, 10, 28050 Madrid, Spain",913 07 52 88,restaurante la dehesa,ChIJe8y4CKAuQg0RC4YervOOVLg,28050
1,"Paseo de la, Zona, P.º de la Tierra de Melide,...",917 50 53 93,casa corrochano,ChIJjWIe0PMrQg0RXJxYC8mlRcM,28050
2,"Pl. de la Moraleja, 28109 Alcobendas, Madrid, ...",916 25 25 00,restaurante aspen,ChIJa64cyBIsQg0RkVa57dm7oeY,28109
3,"Pl. de la Moraleja, 1, 28109 Alcobendas, Madri...",916 58 52 97,la maquina la moraleja,ChIJwyguthIsQg0RKfP-___CUFI,28109
4,"C. de Frómista, 14, 28050 Madrid, Spain",914 27 09 45,la mano de pablo,ChIJmw6_CKAuQg0RY9Kcr3tR5OQ,28050
...,...,...,...,...,...
5657,"Av. de la Virgen del Carmen, 55, 28033 Madrid,...",643 38 00 02,istambul doner kebab pizza hortaleza,ChIJlSxL-z8vQg0RXDp-Vq2xFdk,28033
5658,"P.º de la Ermita del Santo, 48, 28011 Madrid, ...",Unknown,restaurante bar,ChIJg6oTi2UnQg0R8d9-s3084EY,28011
5659,"C. de Sepúlveda, 3, 28011 Madrid, Spain",663 51 23 67,restaurante tuc,ChIJVdp3PaMnQg0RX-X78159I14,28011
5660,"P.º de la Ermita del Santo, 48, 28011 Madrid, ...",Unknown,snack bistro,ChIJ59rdMucnQg0RTHjyULEIgus,28011
5661,"Calle del Marqués de Viana, 36, 28039 Madrid, ...",914 59 03 28,rinconcito cusqueño tetuan,ChIJ5bSlIcgpQg0Rof92wjMgPKQ,28039

In [29]:
restaurants_grouped = addresses.groupby('zip_code')['result.name'].apply(list).reset_index(name='google_places')

In [30]:
from fuzzywuzzy import fuzz
from joblib import Parallel, delayed

# define a function to perform fuzzy matching
def fuzzy_match(zip_code, places1, places2, threshold):
    matches = []
    for place1 in places1:
        for place2 in places2:
            if fuzz.token_sort_ratio(place1, place2) >= threshold:
                matches.append((place1, place2))
    return (zip_code, matches)

In [37]:
# set the fuzzy matching threshold to 85 for more accuracy
threshold = 85

# create a list of zip codes to process
zip_codes = restaurants_grouped['zip_code'].unique()

# perform fuzzy matching for each zip code in parallel
results = Parallel(n_jobs=-1)(delayed(fuzzy_match)(
    zip_code,
    places_grouped.loc[places_grouped['Cod_Postal'] == zip_code, 'places'].iloc[0],
    restaurants_grouped.loc[restaurants_grouped['zip_code'] == zip_code, 'google_places'].iloc[0],
    threshold
) for zip_code in zip_codes)

exception calling callback for <Future at 0x1910dd0dd00 state=finished returned list>
Traceback (most recent call last):
  File "C:\Users\Usuario\anaconda3\lib\site-packages\joblib\parallel.py", line 862, in dispatch_one_batch
    tasks = self._ready_batches.get(block=False)
  File "C:\Users\Usuario\anaconda3\lib\queue.py", line 168, in get
    raise Empty
_queue.Empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Usuario\anaconda3\lib\site-packages\joblib\externals\loky\_base.py", line 26, in _invoke_callbacks
    callback(self)
  File "C:\Users\Usuario\anaconda3\lib\site-packages\joblib\parallel.py", line 385, in __call__
    self.parallel.dispatch_next()
  File "C:\Users\Usuario\anaconda3\lib\site-packages\joblib\parallel.py", line 834, in dispatch_next
    if not self.dispatch_one_batch(self._original_iterator):
  File "C:\Users\Usuario\anaconda3\lib\site-packages\joblib\parallel.py", line 873, in dispatch_one_batch
    islice = list(itertools.islice(iterator, big_batch_size))
  File "C:\Users\Usuario\AppData\Local\Temp\ipykernel_544\1497270096.py", line 10, in <genexpr>
    places_grouped.loc[places_grouped['Cod_Postal'] == zip_code, 'places'].iloc[0],
  File "C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\indexing.py", line 967, in __getitem__
    return self._getitem_axis(maybe_callable, axis=axis)
  File "C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\indexing.py", line 1520, in _getitem_axis
    self._validate_integer(key, axis)
  File "C:\Users\Usuario\anaconda3\lib\site-packages\pandas\core\indexing.py", line 1452, in _validate_integer
    raise IndexError("single positional indexer is out-of-bounds")
IndexError: single positional indexer is out-of-bounds

In [38]:
# create a dataframe with the results
df_matches = pd.DataFrame({'zip_code': [r[0] for r in results], 'matches': [r[1] for r in results]})

In [39]:
matches_exploded = df_matches.explode('matches')

In [40]:
matches_exploded.dropna(how='any', inplace=True)
matches_exploded.shape

(2320, 2)

In [41]:
matches_exploded['perfect_match'] = matches_exploded['matches'].apply(lambda x: x[1])

In [42]:
matches_exploded

    zip_code                                  matches       perfect_match
0      28001  (restaurante albora, restaurante abbas)   restaurante abbas
0      28001                   (amazonico, amazonico)           amazonico
0      28001                       (wagaboo, wogaboo)             wogaboo
0      28001                   (la maruca, la maruca)           la maruca
0      28001     (taberna embroque, taberna embroque)    taberna embroque
..       ...                                      ...                 ...
51     28053       (bar dos angeles, bar dos angeles)     bar dos angeles
51     28053     (bar restaurante, restaurante bahia)   restaurante bahia
51     28053    (bar restaurante, restaurante o faro)  restaurante o faro
51     28053     (bar restaurante, restaurante bahia)   restaurante bahia
51     28053    (bar restaurante, restaurante o faro)  restaurante o faro

[2320 rows x 3 columns]

In [43]:
matches_str = [str(match) for match in matches_exploded['perfect_match']]

In [44]:
matches_str

['restaurante abbas',
 'amazonico',
 'wogaboo',
 'la maruca',
 'taberna embroque',
 'restaurante abbas',
 'carmen restaurante',
 'restaurante la paloma',
 'restaurante abbas',
 'carmen restaurante',
 'restaurante abbas',
 'carmen restaurante',
 'mercado de la paz',
 'manolita chen',
 'el paraguas',
 'restaurante abbas',
 'carmen restaurante',
 'la casa del abuelo goya',
 'alfredos barbacoa',
 'new york burger',
 'vinotinto',
 'le pain quotidien',
 'arugula',
 'il tavolo verde',
 'wogaboo',
 'el paraguas',
 'la casa del abuelo goya',
 'le pain quotidien',
 'restaurante abbas',
 'vinotinto',
 'restaurante abbas',
 'carmen restaurante',
 'restaurante la paloma',
 'arugula',
 'taberna de la daniela',
 'la trainera',
 'abuelita alicia',
 'parrilla de juan adan',
 'casa vicenta',
 'orale compadre',
 'la taberna del cardenal',
 'fosters hollywood',
 'the market madrid',
 'la vieja alqueria',
 'abuelita ana',
 'el jamon de oro',
 'restaurante lobbo',
 'granier',
 'cafeteria fanny',
 'restaurante baritono prosperidad',
 'kebabish doner kebab',
 'la tragantia restaurant',
 'vips',
 'elcano',
 'restaurante bombay',
 '100 montaditos',
 'restaurante bombay',
 'la morera',
 'fosters hollywood',
 'dominos pizza',
 'pizzeria pastipizza',
 'cachopo de mis amores',
 'el flaco',
 'tanguito parrilla',
 'vips',
 'burger king',
 'restaurante cazorla',
 'orale compadre',
 'restaurante lobbo',
 'cafeteria fanny',
 '100 montaditos',
 'restaurante jai alai',
 'el reloj de arena',
 'elcano',
 'la taberna del cardenal',
 'fosters hollywood',
 'el jamon de oro',
 'parrilla de juan adan',
 'restaurante cazorla',
 'the market madrid',
 'restaurante bombay',
 'la hiedra',
 'abuelita ana',
 'abuelita alicia',
 'casa vicenta',
 'los torreznos bar',
 'la quinta',
 'rodilla',
 'sidreria balmori',
 'vips',
 'ecocentro',
 'ginos',
 'ecocentro',
 'ginos',
 'don sancho',
 'lembranzas',
 'con amor',
 'flor de primavera',
 'bar la gallega',
 'san mames',
 'fosters hollywood',
 'il pastaio',
 'the pel place',
 '100 montaditos',
 'casa heliberto',
 'rodilla',
 'con amor',
 'ecocentro',
 'ecocentro',
 'vips',
 'dominos pizza',
 'restaurante ampudia',
 'restaurante lakasa',
 'home burger bar',
 'korea restaurant',
 'cherry pecas',
 '100 montaditos',
 'fosters hollywood',
 'rodilla',
 'sidreria balmori',
 'ginos',
 'cherry pecas',
 'rodilla',
 'casa heliberto',
 'san mames',
 '100 montaditos',
 'flor de primavera',
 'bar la gallega',
 'la gran tasca',
 'il pastaio',
 'the pel place',
 'lembranzas',
 'home burger bar',
 'la rollerie',
 'con amor',
 'restaurante paolo',
 'ecocentro',
 'la mordida',
 'la manduca de azagra',
 'pizzaiolo',
 'areia',
 'mcdonalds',
 'bazaar',
 'la fragua de sebin',
 'clarita',
 'restaurante atico',
 'gaia restaurante',
 'la barraca',
 'la paella de la reina',
 'la panza es primero',
 'restaurante bogota',
 'bar amor',
 'bodega de la ardosa',
 'cerveceria la divina',
 'tony romas',
 'la fondue de tell',
 'goiko grill',
 'la panza es primero',
 'cafe comercial',
 'restaurante bogota',
 'la tasquita de enfrente',
 'socarratt',
 'tampu',
 'circo de las tapas',
 'tony romas',
 'clarita',
 'taberna la carmencita',
 'bazaar',
 'rodilla',
 'restaurante bogota',
 'bazaar',
 'lola 09',
 'restaurante atico',
 'restaurante bogota',
 'la mordida',
 'tuk asian street food',
 'bazaar',
 'restaurante bogota',
 'goiko grill',
 'bazaar',
 'rodilla',
 'casa marius',
 'restaurante bogota',
 'la tita rivera',
 'restaurante vivares',
 'sakale',
 'lamucca de pez',
 'picnic',
 'cafe comercial',
 'restaurante bogota',
 'rodilla',
 'la tita rivera',
 'cafe comercial',
 'rodilla',
 'cerveceria la divina',
 'goiko grill',
 'la fabrica 21',
 'rodilla',
 'goiko grill',
 'san wich',
 'vips',
 '100 montaditos',
 'rodilla',
 'starbucks',
 'cafe  te',
 'bar gamos',
 'restaurante chino pais divino',
 'cafe  te',
 'burger king',
 'burger king',
 'cangas restaurante',
 'telepizza',
 'sushicome',
 'arroceria imperial',
 'papa johns pizza',
 'rodilla',
 'el raton de getaria',
 'vips',
 'casa julian de tolosa',
 'restaurante los angeles',
 'la musa latina',
 'corral de la moreria',
 'los caracoles',
 'rodilla',
 'burger king',
 'burger king',
 'burger king',
 'burger king',
 'restaurante el madroño',
 'cerveceria jamoneria leomar',
 'cangas restaurante',
 'casa valentin',
 'telepizza',
 'casa juan',
 'cafe  te',
 'cerveceria el caño',
 'rodilla',
 'restaurante botin',
 'taqueria del alamillo',
 'burger king',
 'burger king',
 'burger king',
 'burger king',
 'burger king',
 'burger king',
 'la casa de zhou',
 'cafe  te',
 'starbucks',
 'starbucks',
 'taberna almeria',
 'viuda de vacas',
 'restaurante casa paco',
 '100 montaditos',
 'meson del champiñon',
 'cerveceria ribadeza',
 'cocinante',
 'la gorda',
 'el rincon de asturias',
 '100 montaditos',
 'rodilla',
 'la ribera del manzanares',
 'que pizza',
 'piedra pinta tabern',
 'dominos pizza',
 'dominos pizza',
 'vips',
 'casa valentin',
 'rodilla',
 'arroceria imperial',
 'cafe  te',
 'bar gamos',
 'el raton de getaria',
 'la musa latina',
 'viuda de vacas',
 'vips',
 'burger king',
 'burger king',
 'la taberna de mi abuelo',
 'cerveceria ribadeza',
 'cerveceria jamoneria leomar',
 'el rincon de asturias',
 'bahiana club',
 'casa lucas',
 'burger king',
 'burger king',
 'taqueria del alamillo',
 'dominos pizza',
 'dominos pizza',
 'burger king',
 'burger king',
 'restaurante botin',
 'la barca del patio',
 'cangas restaurante',
 'la maragata',
 'ronda 14',
 'starbucks',
 'starbucks',
 'abarra',
 'hamburguesa nostra',
 'casa sushi',
 'la cuchara',
 'abarra',
 'bulevar 54',
 'casa salus',
 'el barril de alcantara',
 'el pescador',
 'pasteleria lorena',
 'best',
 'casa sushi',
 'restaurante cruz',
 'vips',
 'vips',
 'hevia',
 'taberna del puerto',
 'faborit',
 'taberna puerto lagasca',
 'rodilla',
 'el almirez',
 'casa carola',
 'rodilla',
 'tierra burrito bar',
 'subway',
 'banibanoo',
 'casa carola',
 'vips',
 'vips',
 'el pescador',
 'bulevar 54',
 'bar restaurant leon',
 'taberna del puerto',
 'restaurante cruz',
 'la casa de la cerveza',
 'abarra',
 'best',
 'abarra',
 'le pain quotidien',
 'starbucks',
 'starbucks',
 'vips',
 'vips',
 'casa salus',
 'ronda 14',
 'dominos pizza',
 'el barril de alcantara',
 'valle de babia',
 'taberna griega',
 'cafeteria estrella polar',
 'mi sushi',
 'el rincon de cruz blanca',
 'ginos',
 'panaria',
 'la junta',
 'pollo y carbon',
 'mi sushi',
 'el bodegon del molinero',
 'panaria',
 'bar sirio 28',
 'ruta 108',
 'cafeteria bilbao',
 'mallorca en madrid',
 'cafe  bar troy',
 'mejor sabra',
 'bar femary',
 'restaurant oriental sun',
 'bar la ardosa',
 'restaurante m86',
 'cerveceria sagredo',
 'el casal de pepa',
 'bar pajaritos',
 'bodega estebaranz',
 'rodilla',
 'alquitara',
 'vips',
 'cocino para ti',
 'cafeteria sagredo',
 'fosters hollywood',
 'taberna griega',
 'la estrella del pollo',
 'ensaladas y',
 'celikatessen',
 'la pentola magica',
 'cafeteria restaurante sole',
 'zen bamboo',
 'dominos pizza',
 'barril seco',
 'cafe  bar troy',
 'burger king',
 'alquitara',
 'pollo y carbon',
 'bar sirio 28',
 'ginos',
 'bar femary',
 'cafeteria bilbao',
 'cerveceria sagredo',
 'cafeteria estrella polar',
 'ruta 108',
 'valle de babia',
 'cafeteria sagredo',
 'mallorca en madrid',
 'el bodegon del molinero',
 'el casal de pepa',
 'barril seco',
 'cafeteria bilbao',
 'zen bamboo',
 'dominos pizza',
 'ensaladas y',
 'taberna griega',
 'cafeteria restaurante sole',
 'y lucientes',
 'burger king',
 'burger king',
 'fosters hollywood',
 'sidreria donosti',
 'burger king',
 'burger king',
 'pans  company',
 '100 montaditos',
 '123wok',
 'starbucks',
 'el santa',
 'rio azul',
 'restaurante ferreiro',
 'briochef',
 'cuenllas',
 'cuenllas',
 'tabernicola',
 'rosales 20',
 'taberna del principe',
 'asador el molinon',
 'casa mono',
 'rodilla',
 'rodilla',
 'rodilla',
 'rodilla',
 'rodilla',
 'asiatico ksam',
 '100 montaditos',
 'canela bar restaurante',
 'la mordida',
 'asador extremeño',
 'sushiwakka express',
 'cafe del rey',
 'canela bar restaurante',
 'casa mingo',
 '100 montaditos',
 'rodilla',
 'rodilla',
 'rodilla',
 'rodilla',
 'rodilla',
 'lart creperie',
 'el santa',
 'restaurante ferreiro',
 'cuenllas',
 'rosales 20',
 'asador el molinon',
 'la creperie easycrep',
 'lart creperie',
 'bar abascal',
 'sushiwakka express',
 'restaurante loredo',
 'rio azul',
 'y lucientes',
 'taberna del principe',
 'briochef',
 'fosters hollywood',
 'burger king',
 'burger king',
 'francesca´s clueca',
 'la castela',
 'rodilla',
 'restaurante nai',
 'sazonarte',
 'le petit prince',
 'rodilla',
 'gran barril',
 'lizarran',
 'lizarran',
 'frank and furt',
 'restaurante mercado de ibiza',
 'casa de fieras',
 'rodilla',
 'donde ricky',
 'ricos tacos',
 'los torreznos',
 'restaurante nai',
 'los torreznos',
 'lizarran',
 'lizarran',
 'lizarran',
 'lizarran',
 'restaurante nai',
 'restaurante asiatico kzen',
 'cerveceria la sureña',
 'tacazzo',
 'panes y manjares',
 'restaurante nai',
 'kulto',
 'zalamero taberna',
 'restaurante nai',
 'horno de juan',
 'lizarran',
 'lizarran',
 'el refectorio de ibiza',
 'la goyesca ii',
 '100 montaditos',
 'juliettas',
 'taberna  media',
 'piazzere',
 'lizarran',
 'lizarran',
 'chicken go',
 'casa peto',
 'pollo rico asador',
 'restaurante nai',
 'lizarran',
 'lizarran',
 'rodilla',
 'le petit prince',
 'lizarran',
 'lizarran',
 'cerveceria la sureña',
 'gran barril',
 'tacazzo',
 'la goyesca ii',
 'el refectorio de ibiza',
 'frank and furt',
 'lizarran',
 'lizarran',
 'francesca´s clueca',
 'casa de fieras',
 'restaurante mercado de ibiza',
 'la castela',
 'kulto',
 'ricos tacos',
 'zalamero taberna',
 '100 montaditos',
 'los torreznos',
 'restaurante nai',
 'taberna  media',
 'casa peto',
 'restaurante nai',
 'restaurante antonio i',
 'rodilla',
 'la comarca de aliste',
 'couzapin',
 'sagaretxe',
 'mama campo',
 'la caña',
 'la cabra',
 '100 montaditos',
 'la blanca doble',
 'restaurante arco',
 'restaurante boca',
 'restaurante arco',
 'restaurante boca',
 'restaurante arco',
 'restaurante boca',
 'restaurante arco',
 'perrachica',
 'bacira',
 'la caña',
 'mentrida',
 'alma cheli',
 'la caña',
 'burguer cafeteria',
 'la esquina de chamberi',
 'lizarran',
 'granier',
 'mama campo',
 '100 montaditos',
 'la cebicheria de trafalgar',
 'restaurante arco',
 'restaurante boca',
 'restaurante arco',
 'restaurante boca',
 'restaurante m29',
 'restaurante m29',
 'restaurante arco',
 'restaurante boca',
 'restaurante arco',
 'restaurante boca',
 'restaurante m29',
 'restaurante arco',
 'restaurante boca',
 'la escalera del 15',
 '100 montaditos',
 'sagaretxe',
 'la caña',
 'la cabra',
 'lua',
 'la blanca doble',
 'ni subo ni bajo',
 'restaurante arco',
 'alma cheli',
 'catedral de zamora',
 '100 montaditos',
 'lizarran',
 'mercato ballaro',
 'la zucca',
 'mazarino',
 'restaurante arco',
 'restaurante boca',
 'mentrida',
 'la esquina de chamberi',
 'restaurante arco',
 'restaurante boca',
 'la cebicheria de trafalgar',
 'restaurante arco',
 'restaurante boca',
 'restaurante m29',
 'restaurante arco',
 'restaurante boca',
 'el cocedero',
 'la lianta',
 'bar mauricio',
 'meson la rua',
 'restaurante bar',
 'el laurel natural',
 'restaurante cafeteria lh',
 'bar mauricio',
 'productos zabala',
 'bar el puente',
 'parador de bayona',
 'restaurante bar',
 '100 montaditos',
 'fosters hollywood',
 'restaurante bar',
 'restaurante tuc',
 'restaurante angus',
 'bar restaurante panguar',
 'restaurante hermanos miguez',
 'bar cafeteria adrian',
 'restaurante cafeteria lh',
 'restaurante bar',
 'restaurante bar',
 'restaurante bar',
 'restaurante bar',
 'burger king',
 'restaurante bar',
 'bar el puente',
 'fosters hollywood',
 'restaurante bar',
 'bar mauricio',
 '100 montaditos',
 'restaurante bar',
 'restaurante angus',
 'bar restaurante panguar',
 'parador de bayona',
 'restaurante badila',
 '100 montaditos',
 'los chuchis',
 'el ventorrillo murciano',
 'kfc',
 'rodilla',
 '100 montaditos',
 'la chulapa en mayrit',
 'dominos pizza',
 'restaurante jalo',
 'restaurante badila',
 'restaurante jalo',
 'sanabria restaurante',
 'casa de asturias',
 'restaurante badila',
 'la playa de lavapies',
 'mas al sur',
 'restaurante jinode',
 'shapla indian restaurant',
 'bombay blue',
 'juan raro',
 'cafe taberna alabanda',
 'bombay blue',
 'la buga del lobo',
 'restaurante badila',
 'lacaña',
 'pum cafe',
 'restaurante badila',
 'tribuetxe',
 'shapla indian restaurant',
 'shapla indian restaurant',
 'la playa de lavapies',
 'la zapateria',
 'burger king',
 'restaurante jalo',
 'bombay blue',
 '100 montaditos',
 'cafe central',
 'rodilla',
 'shapla indian restaurant',
 'cafe taberna alabanda',
 '100 montaditos',
 'la playa de lavapies',
 'shapla indian restaurant',
 'casa de asturias',
 'museo del jamon',
 'bar el brillante',
 'lacaña',
 'cerveceria alemana',
 'los galayos',
 'restaurante jalo',
 'la playa de lavapies',
 'la buga del lobo',
 'restaurante badila',
 'restaurante jalo',
 'kfc',
 'juan raro',
 'bombay blue',
 'dominos pizza',
 'mas al sur',
 'mercado de la reina',
 'fosters hollywood',
 'chocolateria san gines',
 'el minibar',
 'la mi venta',
 'el anciano rey de los vinos',
 'cuando sali de cuba',
 'taberna del alabardero de madrid',
 'asador real',
 'starbucks',
 'tony romas',
 'az restaurante',
 'burger king',
 'la sanabresa',
 'el fogon verde',
 'marina ventura',
 'vips',
 'murillo cafe',
 'paradis madrid',
 'museo del jamon',
 'cocina de neptuno',
 'la gloria',
 'valentina',
 'bar fomento',
 'la cabaña argentina',
 'expressio cafe',
 'plenti',
 'el 17 de moreto',
 'bodega de los secretos',
 'restaurante la catedral',
 'cervantes cerveceria',
 'estado puro',
 'cafeteria los jeronimos',
 'the spanish farm',
 'az restaurante',
 'valentina',
 'cervantes cerveceria',
 'estado puro',
 'murillo cafe',
 'la esquina de daniel',
 'cafeteria los jeronimos',
 'expressio cafe',
 'el 17 de moreto',
 'casa ruth',
 'la gloria',
 'cafeteria los jeronimos',
 'the spanish farm',
 'vips',
 'la taberna de paula',
 'taberna del volapie',
 'burger king',
 'burger king',
 'xin sushi',
 'rodilla',
 'rodilla',
 'cafeteria hd',
 'xente nova',
 'restaurante najera',
 'subway',
 'restaurante sazadon',
 'cafeteria hd',
 'el barril de argüelles',
 'panaria',
 'casa mundi',
 'suchil 15',
 'el tendido',
 'el macetero',
 'restaurante kfc',
 'el laurel natural',
 'la esquinita pizzeria',
 'burger king',
 'burger king',
 'restaurante najera',
 'lizarran',
 'cafeteria hd',
 'rodilla',
 'rodilla',
 'restaurante najera',
 'taberna el papelon',
 'la caleta',
 'vips',
 'vips',
 'morikaen',
 'kiyota',
 'cafeteria hd',
 'la violeta',
 'tierra burrito bar',
 'di roma',
 'taberna de la casta',
 'la taberna de paula',
 'taberna del volapie',
 'xente nova',
 'tierra burrito bar',
 'subway',
 'cafeteria hd',
 'restaurante najera',
 'lizarran',
 'vips',
 'vips',
 'el macetero',
 'restaurante najera',
 'la violeta',
 'tapeando',
 'panaria',
 'burger king',
 'burger king',
 'suchil 15',
 'taberna el papelon',
 'cafeteria hd',
 'restaurante kfc',
 'telepizza',
 'el barril de argüelles',
 'restaurante sazadon',
 'gandario',
 'restaurante kfc',
 'casa mundi',
 'restaurante najera',
 'burger king',
 'burger king',
 'el tendido',
 'el tendido',
 'la caleta',
 'bar restaurante nago',
 'restaurante paipai',
 'restaurante popa',
 'la taberna de rafa',
 'restaurante urumea',
 'restaurante muuu',
 'restaurante paipai',
 'asador lekeitio',
 'le coq',
 'iztac',
 'iztac',
 'airport tavern',
 'bar restaurante nago',
 'bar restaurante nago',
 'rodilla',
 'rodilla',
 'restaurante marbella sa',
 'bar restaurante el abuelo',
 'los pescaitos',
 'chow',
 'el jardin del abuelo',
 'bar restaurante nago',
 'bar restaurante nago',
 'bar restaurante nago',
 'los barriletes bar',
 'ginos',
 '100 montaditos',
 'bar restaurante nago',
 'rodilla',
 'rodilla',
 'bar restaurante nago',
 'rodilla',
 'rodilla',
 'papa johns pizza',
 'asador lekeitio',
 'rodilla',
 'rodilla',
 'restaurante samm',
 'bar restaurante nago',
 'bar restaurante nago',
 'los pescaitos',
 'la taberna de rafa',
 'restaurante muuu',
 'airport tavern',
 'bar restaurante el abuelo',
 'restaurante marbella sa',
 '100 montaditos',
 'los barriletes bar',
 'restaurante paipai',
 'le coq',
 'bollywood tadka',
 'restaurante paipai',
 'restaurante popa',
 'rodilla',
 'rodilla',
 'iztac',
 'bar restaurante nago',
 'telepizza',
 'dominos pizza',
 'jj cafeteria  cerveceria',
 'cafeteria nico bar',
 'restaurante chino universo',
 'la fornia',
 'garden fried chicken',
 'nazca restaurante',
 'mother india',
 'sal y pimienta',
 'tropicalisimo',
 'el pizarral',
 'jj cafeteria  cerveceria',
 'perla del pacifico',
 'perla del pacifico',
 'perla del pacifico',
 'bar rincon andaluz',
 'telepizza',
 'el divino',
 'bar sanchez',
 'bar cafeteria los toros',
 'burger king',
 'cafe bar las gargolas',
 'bar restaurante don gil',
 'bar felipe',
 'telepizza',
 'burger king',
 'el sabroso',
 'el sabroso',
 'el sabroso',
 'los caballeros de avila',
 'restaurante chino da yuan',
 'barcafeteria cesar',
 'bar africa',
 'las tejas',
 'el rincon de marianita',
 'argayo restaurante',
 'salones venecia',
 'perla del pacifico',
 'perla del pacifico',
 'perla del pacifico',
 'bar esperanza',
 'porneat',
 'taberna balkanika',
 'argayo restaurante',
 'bar castejon 2',
 'papa johns pizza',
 'la hacienda de ventas',
 'bar castejon 2',
 'los caballeros de avila',
 'bar restaurante don gil',
 'sal y pimienta',
 'cafe bar las gargolas',
 'cafeteria nico bar',
 'bar esperanza',
 'bar rincon andaluz',
 'la fornia',
 'garden fried chicken',
 'bar villa',
 'burger king',
 'burger king',
 'bar madrid',
 'real döner kebab',
 'evin kebap  pizza',
 'telepizza',
 'bar madrid',
 'bar guerrero',
 'la terraza del fogon',
 'cerveceria el puerto',
 'burger king',
 'burger king',
 'restaurante bar luci',
 'dominos pizza',
 'telepizza',
 'restaurante bar luci',
 'casa garcia',
 'bar almaraz',
 'frutos secos pikoteo',
 'bar el murciano',
 'bar esquina kebap',
 'cerveceria cafeteria loli',
 'ateshgah',
 'pizzeria vk vallecas',
 'bar restaurante la encina',
 'cerveceria doble rr',
 'fire cat burguer',
 'restaurante bar luci',
 'restaurante bar luci',
 'las piedras',
 'cerveceria doble rr',
 'cerveceria torres',
 'cerveceria cafeteria loli',
 'evin kebap  pizza',
 'bar restaurante la encina',
 'el meson escondido',
 'bar almaraz',
 'bar madrid',
 'bar almaraz',
 'cerveceria el puerto',
 'la terraza del fogon',
 'bar el murciano',
 'meson avila ii',
 'telepizza',
 'que comemos hoy',
 'restaurante',
 'restaurante',
 'döner kebab king',
 'el paraiso del pollo',
 'meson a casiña',
 'bar hidalgo',
 'bar los pinchos cb',
 'el toledano',
 ...]

In [45]:
addresses['success'] = addresses['result.name'].apply(lambda x: 1 if any(match_str in x for match_str in matches_str) else 0)

In [46]:
google = pd.read_csv('google_final.csv')
google.drop('Unnamed: 0', axis=1,inplace=True)
google.head()

,result.business_status,result.delivery,result.dine_in,result.name,result.place_id,result.rating,result.reservable,result.serves_beer,result.serves_breakfast,result.serves_brunch,...,bar,store,cafe,meal_takeaway,meal_delivery,bakery,liquor_store,night_club,zip_code,price_level
0,OPERATIONAL,True,True,Restaurante La Dehesa,ChIJe8y4CKAuQg0RC4YervOOVLg,4.0,True,True,True,True,...,False,False,False,False,False,False,False,False,28050,2.0
1,OPERATIONAL,True,True,Casa Corrochano,ChIJjWIe0PMrQg0RXJxYC8mlRcM,4.1,True,True,True,True,...,False,False,False,False,False,False,False,False,28050,1.0
2,OPERATIONAL,False,True,Restaurante Aspen,ChIJa64cyBIsQg0RkVa57dm7oeY,4.2,True,True,True,True,...,False,False,False,False,False,False,False,False,28109,4.0
3,OPERATIONAL,False,True,La Máquina La Moraleja,ChIJwyguthIsQg0RKfP-___CUFI,4.2,True,True,False,True,...,False,False,False,False,False,False,False,False,28109,3.0
4,OPERATIONAL,Unknown,True,La Mano de Pablo,ChIJmw6_CKAuQg0RY9Kcr3tR5OQ,4.4,True,True,False,True,...,False,False,False,False,False,False,False,False,28050,2.0

In [47]:
google['result.name'] = google['result.name'].str.strip()
google['result.name'] = google['result.name'].apply(clean_text)
google['result.name'] = google['result.name'].apply(lambda x: remove_duplicates(x))
google['result.name'] = google['result.name'].apply(normalize)

In [48]:
google['success'] = google['result.name'].apply(lambda x: 1 if any(match_str in x for match_str in matches_str) else 0)

In [49]:
google[(google['result.business_status']=='CLOSED_TEMPORARILY')&
      (google['success']==1)]

,result.business_status,result.delivery,result.dine_in,result.name,result.place_id,result.rating,result.reservable,result.serves_beer,result.serves_breakfast,result.serves_brunch,...,store,cafe,meal_takeaway,meal_delivery,bakery,liquor_store,night_club,zip_code,price_level,success
8,CLOSED_TEMPORARILY,Unknown,True,restaurante,ChIJgbXCHjssQg0RzdPHhjiDBlI,3.6,Unknown,True,True,True,...,False,False,False,False,False,False,False,28109,1.0,1
65,CLOSED_TEMPORARILY,True,True,restaurante el pato mudo,ChIJiUlrlSouQg0RnviTSODhHio,3.7,True,True,True,True,...,False,False,False,False,False,False,False,28042,1.0,1
144,CLOSED_TEMPORARILY,True,True,bar asturias restaurante,ChIJ6-URatsuQg0R6k1pCWBXs8Q,4.2,True,True,True,True,...,False,True,False,False,False,False,False,28043,1.0,1
237,CLOSED_TEMPORARILY,Unknown,True,pedro alonso restaurante,ChIJc3Xj5dYuQg0Rg7P339kR5i4,4.2,Unknown,True,True,True,...,False,False,False,False,False,False,False,28043,1.0,1
302,CLOSED_TEMPORARILY,Unknown,True,restaurante doner kebap,ChIJp_DNPrAvQg0RZh9WFIfjJWs,4.3,Unknown,True,True,True,...,False,False,False,False,False,False,False,28022,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5608,CLOSED_TEMPORARILY,True,True,tribar,ChIJUZlMK8kpQg0RisXc6hmt1hQ,4.9,True,True,True,True,...,False,False,False,False,False,False,False,28039,1.0,1
5617,CLOSED_TEMPORARILY,Unknown,True,bar cafe martin,ChIJc3LbY-UuQg0Rukw8cx7u208,3.6,Unknown,True,True,True,...,False,False,False,False,False,False,False,28043,1.0,1
5624,CLOSED_TEMPORARILY,Unknown,True,restaurante,ChIJHwYnNeUuQg0RXQdcgO_rj_M,2.5,Unknown,True,True,True,...,False,False,False,False,False,False,False,28043,1.0,1
5628,CLOSED_TEMPORARILY,Unknown,True,leyali pubrestaurante,ChIJayud6iwmQg0RG4p3lcIjpVE,4.2,Unknown,True,True,True,...,False,False,False,False,False,False,False,28012,1.0,1
5649,CLOSED_TEMPORARILY,Unknown,True,el rincon de tetuan,ChIJK2PT9gYpQg0Rr6-XNi0ikyI,3.7,Unknown,True,True,True,...,False,False,False,False,False,False,False,28039,1.0,1

In [50]:
#Some restaurants that have closed temporarily seem to be closed definitely, so I will count them as unsuccessful

In [51]:
google.loc[(google['result.business_status'] == 'CLOSED_TEMPORARILY') | (google['result.business_status'] == 'CLOSED_PERMANENTLY'), 'success'] = 0

In [52]:
google[(google['result.business_status']=='CLOSED_TEMPORARILY')&
      (google['success']==1)]

Empty DataFrame
Columns: [result.business_status, result.delivery, result.dine_in, result.name, result.place_id, result.rating, result.reservable, result.serves_beer, result.serves_breakfast, result.serves_brunch, result.serves_dinner, result.serves_lunch, result.serves_vegetarian_food, result.serves_wine, result.takeout, result.user_ratings_total, result.website, result.wheelchair_accessible_entrance, point_of_interest, establishment, food, restaurant, bar, store, cafe, meal_takeaway, meal_delivery, bakery, liquor_store, night_club, zip_code, price_level, success]
Index: []

[0 rows x 33 columns]

In [53]:
google.to_csv('google_target.csv')

In [54]:
google.shape

(5662, 33)