In [1]:
import pandas as pd 
import numpy as np

In [2]:
idealista = pd.read_csv('/Users/Usuario/demo/Ironhack/Final_Project/raw_data/Tableau/idealista.csv')
idealista.drop('Unnamed: 0', axis=1, inplace=True)
idealista.head()

      District  Price_squared_meter  Monthly var  Quarterly var  Yearly var
0   ARGANZUELA                 16.3        0.009          0.026       0.105
1      BARAJAS                 12.6        0.010          0.035       0.085
2  CARABANCHEL                 12.6       -0.003          0.011       0.082
3       CENTRO                 21.1        0.041          0.090       0.184
4    CHAMARTIN                 17.2        0.022          0.028       0.119

In [3]:
income = pd.read_csv('/Users/Usuario/demo/Ironhack/Final_Project/raw_data/Tableau/income_zones.csv')
income.drop('Unnamed: 0', axis=1, inplace=True)
income.head()

,zip_code,restaurant_count,barrio,distrito,renta_media_persona,renta_media_hogar,restaurant_budget_per_household
0,28001,78,RECOLETOS,SALAMANCA,30437,79781,3989.05
1,28002,122,PROSPERIDAD,CHAMARTIN,21152,48326,2416.30
2,28002,122,CIUDAD JARDIN,CHAMARTIN,21188,49050,2452.50
3,28003,99,ALMAGRO,CHAMBERI,28407,72370,3618.50
4,28003,99,RIOS ROSAS,CHAMBERI,24542,55425,2771.25

In [30]:
income['distrito'].unique()

array(['SALAMANCA', 'CHAMARTIN', 'CHAMBERI', 'MONCLOA-ARAVACA', 'CENTRO',
       'ARGANZUELA', 'RETIRO', 'LATINA', 'CIUDAD LINEAL',
       'PUENTE DE VALLECAS', 'CARABANCHEL', 'TETUAN', 'VILLAVERDE',
       'SAN BLAS-CANILLEJAS', 'USERA', 'FUENCARRAL-EL PARDO', 'MORATALAZ',
       'VILLA DE VALLECAS', 'VICALVARO', 'HORTALEZA', 'BARAJAS'],
      dtype=object)

In [4]:
districts = pd.read_csv('/Users/Usuario/demo/Ironhack/Final_Project/raw_data/Tableau/district_full_info.csv')
districts.head()

,Unnamed: 0,distrito,restaurant_count,total_population,0_to_15,16_to_64,65_to_80,80+,restaurants_per_capita,renta_media_persona,renta_media_hogar,surface_km2,restaurants_per_district_area
0,0,ARGANZUELA,990,152638,18003,103423,31212,9630,0.006486,132175,319474,6.52,151.840491
1,1,BARAJAS,1050,48404,8098,31218,9086,2438,0.021692,87310,234448,43.56,24.104683
2,2,CARABANCHEL,663,255514,35453,172192,47868,17711,0.002595,82178,215122,14.10,47.021277
3,3,CENTRO,596,139682,10281,107486,21914,6886,0.004267,113909,230463,5.21,114.395393
4,4,CHAMARTIN,562,144371,19388,90697,34286,12097,0.003893,155165,391692,9.12,61.622807

In [5]:
income['distrito'].unique()

array(['SALAMANCA', 'CHAMARTIN', 'CHAMBERI', 'MONCLOA-ARAVACA', 'CENTRO',
       'ARGANZUELA', 'RETIRO', 'LATINA', 'CIUDAD LINEAL',
       'PUENTE DE VALLECAS', 'CARABANCHEL', 'TETUAN', 'VILLAVERDE',
       'SAN BLAS-CANILLEJAS', 'USERA', 'FUENCARRAL-EL PARDO', 'MORATALAZ',
       'VILLA DE VALLECAS', 'VICALVARO', 'HORTALEZA', 'BARAJAS'],
      dtype=object)

In [6]:
districts['distrito'].unique()

array(['ARGANZUELA', 'BARAJAS', 'CARABANCHEL', 'CENTRO', 'CHAMARTIN',
       'CHAMBERI', 'CIUDAD LINEAL', 'FUENCARRAL-EL PARDO', 'HORTALEZA',
       'LATINA', 'MONCLOA-ARAVACA', 'MORATALAZ', 'PUENTE DE VALLECAS',
       'RETIRO', 'SALAMANCA', 'SAN BLAS-CANILLEJAS', 'TETUAN', 'USERA',
       'VICALVARO', 'VILLA DE VALLECAS', 'VILLAVERDE'], dtype=object)

In [7]:
districts.shape

(21, 13)

In [8]:
income.shape

(128, 7)

In [9]:
idealista.shape

(21, 5)

In [10]:
idealista_columns = ['distrito', 'Price_squared_meter', 'Monthly var', 'Quarterly var',
       'Yearly var']
idealista.columns = idealista_columns

In [11]:
idealista['distrito'] = idealista['distrito'].replace("BARAJAS","BARAJAS")
idealista['distrito'] = idealista['distrito'].replace("FUENCARRAL","FUENCARRAL-EL PARDO")
idealista['distrito'] = idealista['distrito'].replace("SAN BLAS","SAN BLAS-CANILLEJAS")
idealista['distrito'] = idealista['distrito'].replace("MONCLOA","MONCLOA-ARAVACA")

In [12]:
new = pd.merge(idealista, districts, on='distrito')

In [17]:
new.columns

Index(['distrito', 'Price_squared_meter', 'Monthly var', 'Quarterly var',
       'Yearly var', 'Unnamed: 0', 'restaurant_count', 'total_population',
       '0_to_15', '16_to_64', '65_to_80', '80+', 'restaurants_per_capita',
       'renta_media_persona', 'renta_media_hogar', 'surface_km2',
       'restaurants_per_district_area'],
      dtype='object')

In [18]:
new.drop(columns=['Monthly var', 'Quarterly var',
       'Yearly var', 'Unnamed: 0'], axis=1, inplace=True)

In [19]:
new.to_csv('district_full_info.csv', index=False)

In [21]:
new.dtypes

distrito                          object
Price_squared_meter              float64
restaurant_count                   int64
total_population                   int64
0_to_15                            int64
16_to_64                           int64
65_to_80                           int64
80+                                int64
restaurants_per_capita           float64
renta_media_persona                int64
renta_media_hogar                  int64
surface_km2                      float64
restaurants_per_district_area    float64
dtype: object